#Longleaf Linux Ignored
*.out
*.sh

#Large-Data Ignored (metadata, articles)
*.json
*.db
Data
*/articles/*
*/abstracts/*

#Misc
Jackson_Cleaning
Cleaning/Jackson_Cleaning
test.py
Eval/test.py
*.DS_Store